<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>

<body>

    <!-- Add Products -->
    <div>
        <div>Add Product:</div>
        <div>
            <input id="nama-input" placeholder="Nama">
        </div>
        <div>
            <textarea id="deskripsi-input" placeholder="Deskripsi"></textarea>
        </div>
        <div>
            <input type="number" id="harga-input" placeholder="Harga">
        </div>
        <div>
            <button id="add-product-btn">Add</button>
        </div>
    </div>
    <br>
    <!-- Display products -->
    <div>
        <div>Products:</div>
        <div id="all-products-anchor"></div>
    </div>



</body>
<script src="scripts/script.js"></script>

</html>
